PORT=8003
GRPC_PORT=50056
DB_URL=jdbc:postgresql://localhost:5437/kinetix_payment_dev
DB_USERNAME=postgres
DB_PASSWORD=postgres
MIDTRANS_SERVER_KEY=SB-Mid-server-YOUR_REAL_SERVER_KEY
MIDTRANS_CLIENT_KEY=SB-Mid-client-YOUR_REAL_CLIENT_KEY
MIDTRANS_IS_PRODUCTION=false
